<%= form_for @folder do |f| %>

  <%= f.hidden_field :parent_id %>
  <p>
    <%= f.label :name, "New Folder" %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Post Folder" %></p>
<% end %>