<<<<<<< HEAD
<% for folder in @folders %>
  <div class="folder">
    <div class="created_at"><%= folder.created_at.strftime("%B %d, %Y") %></div>   
    <div class="content">
      <%= folder.name %>
    </div>
    <div class="actions">
      <%= link_to "Reply", new_folder_path(:parent_id => folder) %> |
      <%= link_to "Destroy", folder, :confirm => "Are you sure?", :method => :delete %>
    </div>
  </div>
<% end %>

<%= render "form" %>

=======
<h1> Folders </h1>

<%= nested_folders @folders.arrange(:order => :created_at) %>

<%= render "form" %>
>>>>>>> 51fd3448e66c7187906451b264cc4f71892c942f
